.README.swp
Settings/
Backup/
*.cache

Sublime Text 2.sublime-workspace
Packages/User/SublimeREPLHistory
Packages/SublimeLinter/sublimelinter/.tempfiles

# Python gitignore contents from github's gitignore templates
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
